.allvolunteer {
    display:flex;
    height: 60vh;
    width: 100%;
    padding: 20px;
    flex-direction: column;
    border: 1px solid gold;
    background:rgb(4, 13, 57);

}
.volunteerform {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap:20px;
}

.input {
    padding:10px;
    height:45px;
    width: 300px;
    border-radius:8px ;
}
.inputform{
    padding:10px;
    width: 620px;
    height:45px;
    border-radius:8px ;

}
.inputform1{
    padding:10px;
    height:45px;
    width: 300px;
    border-radius:8px ;

}

.btn-volunteer {
    width: 100%;
    height: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.btn-volunteerform{
    width: 180px;
    height: 7vh;
    border-radius: 15px;
    border: 2px solid green;
}
.btn-volunteerform:hover{
    background:green;
}



#table-data {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
#table-data td,
#table-data th {
    padding: 10px;
    background: rgb(223, 209, 128);
    text-align: center;

}
#table-data th {
    background: black;
    color: rgb(223, 209, 128);
}
#table-data th {
    padding-top: 20px;
    padding-bottom: 12px;
    text-align: center;
}
#table-data{
    border: 1px solid;
}
