.about-container {
    display: flex;
    align-items: center;
    font-size: 18PX;
    justify-content: center;
    flex-direction: column;
    height:800px;
    color:white;
    background: black;
}
.about-container h2{
    font-size: 30px;
    font-family: 'Rubik Moonrocks', cursive;
}
.image {
    width:180px;
}
.managmentcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:200px;
    background: rgb(4, 13, 57);
    padding: 10px;
    border-radius: 5px;
    margin:20px;
    transition: transform 0.2s;
    /* border:2px solid white; */
    box-shadow:2px 2px white;
}
.managmentcontainer:hover {
    transform: translatey(1rem)
}

.managmentcontainer h3{
    color:wheat;
    margin:5px 0px;
}
.managmentcontainer h4{
    color: white;
    margin: 5px 0px;
}

.Symbol {
    margin:0px 5px;
}
.Appcard {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container p{
    margin: 20px 0px;
    color:white;
    font-size: 15px;
    text-align: center;
}
 .icon {
    color:white;
 }