.home{
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.btn-homebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    gap: 10%;
}
.homebutton {
    border-radius:25px;
    width: 15%;
    height: 8vh;
    font-size: 25px;
    border: 2px solid black;
    background: navy;
    color: white;
}
.homebutton:hover {
    background-color: rgb(93, 129, 40);
}
.quotes {
    font-family: 'Rubik Marker Hatch', cursive;
    color:red;
}