.donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 500px;
    flex-direction: column;
    margin-left: 70vh;
    border: 2px solid black;
    border-radius: 12px;
}

.donate-container input {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: red;
}

.donate-container1 {
    background: linear-gradient(180deg,white,rgb(160, 192, 204)) ;
    height: 100vh;
    padding-top: 10vh;
}