.donate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    flex-direction: column;
    background:rgb(4, 13, 57);
    border: 2px solid red;
    color: white;
    border-radius: 12px;
    padding: 40px;
}

.donate-container input {
    width: 350px;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.error {
    color: red;
}

.donate-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 100vh;
}

.select-amount{
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius:10px;
}

.donatebutton {
    width: 100px;
    justify-content: left;
    align-items: left;
    background: transparent;
    border:1px solid white;
    color: white;
}

.donatebutton:hover {
    background-color:rgb(71, 187, 71);
}
.donate-image{
    width: 370px;
    padding-top: 10px;
}


.donatation-list {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    background:black;

}
.donatation-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    width:300px;
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
    color:white;
}
.donatation-container:hover {
    transform: translatey(1rem)
}

@media (max-width: 780px) {
    .donatation-list {
        display: block;
    }
}