.header-container {
    display: flex;
    padding-top: 10px;
    background:rgb(28, 27, 27);
    flex-direction: column;
}

.nav-items {
    display: flex;
    gap: 35px;
    justify-content: right;
    padding-right: 100px;
    list-style: none;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.link-item {
    color: rgb(230, 170, 19);
    text-decoration: none;
}
.link-item:hover{
    color:white;
}

.trust h1 {
    display: flex;
    align-items: flex-start;
    padding-left: 25px;
    color: red;
    padding-left: 50px;
    font-family: 'Rubik Burned', cursive;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 40px;
    padding-right: 20px;
    font-size: 20px;
}
.mobile-menu-icon{
    display:none;
}
@media screen and (max-width: 780px) {
    .nav-links{
        display:none;
    }
    .nav-links-mobile{
        position: absolute;
        display: block;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-in-out;
        width: 100%;
        
    }
    .link-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        transition: all 0.5s ease;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        color: white;
        background-color:transparent;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
    .header-container li{
        list-style: none;
    }
    
}