.footer-container1 {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 100%;
    /* margin-top: auto; */
}
.footer-container {
    display: flex;
    width: 100%;
    background: rgb(28, 27, 27);
    height: 25vh;
    color:rgb(230, 170, 19);
}
.footer-contact {
    align-items:flex-end;
    padding: 25px;
    padding-left: 100px;
}
.social-media {
    padding-left: 300px;
    padding-top: 40px;
}
.copyright{
    display: flex;
    padding-top: 140px;
    font-size: 15px;
    padding-left: 100px;
    font-family: 'IBM Plex Serif', serif;
}