.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 15px; */
    background-color:rgb(28, 27, 27);
    color:rgb(230, 170, 19);

}
.footer-media{
    display: flex;
    align-items:center ;
    justify-content: center;
    padding-top: 30px;
    gap: 40px;
    transition: transform .4s;
}
.footer-media a:hover{
    transform: scale(1.2);

}
.footer-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
    font-family: 'IBM Plex Serif', serif;

}