.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    justify-content: center;
    background:black;
    color: black;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid red;
    background:rgb(4, 13, 57);
    border-radius: 10px;

}

.form-container textarea {
    width: 300px;
    max-height: 100px;
    min-height: 100px;
    border-radius: 5px;
    font-size: 15px;
}
.form-container input {
    width: 300px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    
}
.form-container label {
    display: flex;
    color:white;
}
.contactuspage {
    text-align: center;
    padding-top: 100px;
}
.contactuspage h3{
    color:white;
    font-family: 'Rubik Moonrocks', cursive;
    
}

.btn-contactus {
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-contactus:hover {
    background:green;
}