.contact-container {
    display: flex;
    height: 800px;
    width: 100%;
    justify-content: center;
    background:rgb(4, 13, 57);
    color: white;
}
.form-container {
    display: flex;
    padding-top: 70px;
    color: white;
}

.form-container textarea {
    width: 400px;
    max-height: 100px;
    min-height: 100px;
    border-radius: 5px;
    font-size: 15px;
}
.form-container input {
    width: 400px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    
}
.form-container label {
    display: flex;
    color:white;
}
.contactuspage {
    text-align: center;
    padding-top: 100px;
}

.btn-contactus {
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-contactus:hover {
    background:rgb(56, 146, 56);
}