.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 50px;
    flex-direction: column;
    border: 2px solid red;
    background:rgb(4, 13, 57);
    border-radius: 12px;
    color: white;

}

.reg-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.error {
    color:goldenrod;
}

.reg-button {
    background-color: green;
    height: 44px;
    width: 300px;
    color: white;
    border-radius: 10px;
}

.reg-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 115vh;
    padding-top: 20px;
}
/* .register-icons {
    display: flex;
    align-items: center;
    position: absolute;
    top:320px;
    bottom:0;
    height:100%;
    right:590px ;
    color:black;
} */