.Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    padding: 50px;
    flex-direction: column;
    border: 2px solid red;
    background:rgb(4, 13, 57);
    color: white;
    border-radius: 12px;
}

.Login-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
/* .Login-container .login-icon{
    display: flex;
    justify-content: center;
    color: red;
    padding-left: 260px;
} */

/* .login-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top:225px;
    bottom:0;
    height:100%;
    right:620px ;
    color:black;
} */
.log-button {
    background-color: green;
    height: 44px;
    width: 300px;
    color: white;
    border-radius: 10px;

}

.login-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background:black;
    height: 90vh;
    padding-top: 10px;
}


.err-msg {
    color: goldenrod;
}