.Login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 550px;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 70vh;
    border-radius: 12px;


}

.Login-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.log-button {
    background-color: green;
    height: 44px;
    width: 300px;
    color: white;
    border-radius: 10px;

}

.login-container1 {
    background: linear-gradient(180deg,white,rgb(160, 192, 204));
    /* background:rgb(4, 13, 57); */
    /* background-image: url("../../assets/image51.jpg"); */
    height: 100vh;
    padding-top: 20vh;
}
.login-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top:155px;
    bottom:0;
    height:100%;
    right:610px ;
}


.err-msg {
    color: rgb(165, 6, 6);
}