.about-container {
    display: flex;
    align-items: center;
    font-size: 18PX;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    background:linear-gradient(90deg, orange, rgb(66, 151, 66));
}

.image {
    width:180px;
}
.managmentcontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:200px;
    background: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin:20px;
    transition: transform 0.2s;
}
.managmentcontainer:hover {
    transform: translatey(1rem)
}

.mangmentcontainer h2{
    color:black;
    margin:5px 0px;
}
.mangmentcontainer h4{
    color: rgb(61, 55, 55);
    margin: 5px 0px;
}
.Symbol {
    margin:0px 5px;
}
.Appcard {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container h2{
    color:black;
}

.about-container p{
    margin: 20px 0px;
    color:black;
    font-size: 15px;
    text-align: center;
}
