textarea {
    width: 200%;
    max-height: 100px;
    min-height: 100px;
    border-radius: 5px;
    font-size: 15px;
}
input {
    width: 200%;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    
}
label {
    display: flex;
}
.contact-container {
    display: flex;
    height: 700px;
    width: 100%;
    justify-content: center;
    /* background:linear-gradient(180deg,grey,black); */
    background: grey;
}
.form-container {
    display: flex;
    padding-top: 90px;
}
.contactuspage {
    text-align: center;
    padding-top: 100px;
}

.btn-contactus {
    width: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn-contactus:hover {
    background:rgb(56, 146, 56);
}