.footer-container1 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
}
.footer-container {
    display: flex;
    width: 100%;
    background: rgb(238, 72, 11);
    height: 22vh;
}
.footer-contact {
    align-items:flex-end;
    padding: 25px;
    padding-left: 100px;
}
.social-media {
    padding-left: 180px;
    padding-top: 40px;
}
.copyright{
    display: flex;
    padding-top: 120px;
    font-size: 15px;
    padding-left: 100px;
    font-family: 'IBM Plex Serif', serif;
}