.ourteam-container {
    display: flexbox;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.team-container {
    display: flex;
    position: relative;
    flex-direction: column;
}

.our-container{
    width: 100%;
    height: 55vh;
    object-fit: cover;
}
.ourteam-title {
    position: absolute;
    top:10%;
    left:30%;
    font-size: 50px;
    color:black;
    font-family: 'Rubik Moonrocks', cursive;
}
.allourteam-title {
    position: absolute;
    top:16%;
    left:30%;
    font-size:20px;
    font-family: 'Dancing Script', cursive;
}

.member-list {
    padding-top: 45px;
    display: flex;
    flex-wrap: wrap;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    height: 100vh;
}
.managment-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
    width:200px;
    background: rgb(2, 6, 28);
    box-shadow: 1px 1px 2px 2px  rgb(28, 27, 27);
    padding: 10px;
    border-radius: 5px;
    margin:20px;
    transition: transform 0.2s;
    color:white;
}
.managment-container:hover {
    transform: translatey(1rem)
}

.mangment-container h4{
    color:black;
    margin:5px 0px;
}
.mangment-container h6{
    color: rgb(61, 55, 55);
    margin: 5px 0px;
}