.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 600px;
    flex-direction: column;
    background:white;
    margin-left: 70vh;
    border-radius: 12px;


}

.reg-container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.errors {
    color: rgb(165, 6, 6);
}

.reg-button {
    background-color: rgb(6, 6, 177);
    height: 44px;
    width: 300px;
    color: white;

}

.reg-container1 {
    background:linear-gradient(180deg, white, rgb(180, 186, 84)) ;
    height: 120vh;
    padding-top: 10vh;
}